@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
      Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  }

  a {
    @apply text-usiu-navy hover:text-usiu-red;
  }
}
